<!-- <canvas class="graph-container" id="graph-edges" width="500" height="800"> -->
<canvas class="graph-container" id="graph-edges" width="1500" height="1500">
</canvas>

<div class="graph-container" id="graph-nodes" ondragover="return false">
	
	<div class="node-container">
		
		<!--- node component begins here -->
		<div  class="node" draggable=true *ngFor="let node of nodes" 
							[style.width.px]="node.width"
							[style.top.px]="node.position.y" [style.left.px]="node.position.x" 
							(dragstart)="onDragStart($event, node)" (drag)="onDrag($event, node)" (dragend)="dragEnd($event, node)">
			

			<div class="port-container input">
				<div class="port" draggable=true [id]="node.inputPort.name"  (click)="clikPort($event,node.inputPort)"></div>
			</div>

			<div class="port-container output">
				<div class="port" draggable=true [id]="port.name"
					*ngFor="let port of node.outputPorts.reverse()" 
					(click)="clikPort($event,port,node)"
					(dragstart)="link($event, port)"
					(drag)="dragLink($event, port)" 
					(dragend)="createLink($event, port)"></div>
			</div>
		
		</div>
		<!--- node component ends here -->

	</div>

</div>